:root {
    /* === COLORS === */
    --clr-orange-100: #F1A94E;
    --clr-blue-100: #44BEC2;
    --clr-white: white;
    --clr-black: black;
    /* === FONTS === */
    --ff-main: 'Oswald', sans-serif;
    --ff-normal: 'Gothic A1', sans-serif;
    --ff-spacing: .02em;
    /* === VIEWPORT === */
    --vw-sm: 1vw;
    --vw-lg: 5vw;
}

/* === GLOBALS === */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-block: 1em;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after { box-sizing: inherit; }

img { max-width: 100%; }

ul {
    padding: 0;
    list-style: none;
}

p { font-family: var(--ff-normal); }

.services,
.portfolio,
.footer__container {
    margin-inline: auto;
    max-inline-size: 110rem;
    inline-size: 90%;
}

/* === HERO === */
.hero {
    min-block-size: 100vh;
    background-image: url('https://said-alrove.github.io/freelancer-home/assets/webp/hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero__content {
    display: grid;
    place-content: center;
    gap: .25em; 
    padding-inline: 
        clamp(.5rem, var(--vw-sm), 1rem);
    min-inline-size: 100vw;
    min-block-size: 100vh;
    text-align: center;
    background-color: rgb(0 0 0 / .6);
    color: var(--clr-white);
}

.hero__heading {
    font-family: var(--ff-main);
    font-size: 
        clamp(3.6rem, var(--vw-lg), 4.8rem); 
    letter-spacing: var(--ff-spacing);
}

.hero__text { 
    font-size: 
        clamp(2.1rem, var(--vw-lg), 2.8rem); 
    line-height: 1.75em;
    letter-spacing: var(--ff-spacing);
}

.hero__icon > i {
    margin-block: .2em;
    font-size: 
        clamp(4.5rem, var(--vw-lg), 6rem);
    color: var(--clr-white);
    transition: all 250ms ease-in-out;
}

@media (min-width: 1212px) {
    .hero__icon > i:hover { transform: scale(1.2); }
}

/* === SERVICES === */
.services {
    margin-block: 
        clamp(3rem, var(--vw-lg), 4rem);
    text-align: center;
}

@media (min-width: 848px) {
    .services {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap:   
            clamp(2.25rem, var(--vw-lg), 3rem);
    }
}

.service__header > i {
    margin-block: .2em;
    font-size: 
        clamp(3rem, var(--vw-lg), 4rem);
    color: var(--clr-blue-100);
    transition: all 300ms ease-in-out;
}

@media (min-width: 1212px) {
    .service__header > i:hover {
        transform: rotate(360deg);
    }
}

.service__heading {
    padding-block-end: .15em;
    font-family: var(--ff-main);
    font-size: 
        clamp(3rem, var(--vw-lg), 4rem);
}

.service__heading::after {
    content: '';
    display: block;
    margin: .25em auto;
    inline-size: 3em;
    block-size: .5rem;
    background-color: var(--clr-orange-100);
    transition: all 250ms ease-in-out;
}

@media (min-width: 1212px) {
    .service__heading:hover::after {
        inline-size: 5em;
    }
}

.service__text {
    margin-block: .75em;
    font-size: 
        clamp(1.8rem, var(--vw-sm), 2.4rem);
}

/* === PORTFOLIO === */
.portfolio__project {
    margin-block-end: 2em;
    padding-block-end: 
        clamp(.5em, var(--vw-lg), 1.5em);
    border-block-end: .1em solid #3B5B5B;
}

.portfolio__project:last-of-type {
    border-block-end: none;
}

@media (min-width: 768px) {
    .portfolio__projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: max-content;
        gap: 1.5em;
    }

    .portfolio__project { 
        padding-block-end: unset;
        border-block-end: none; 
    }

    .portfolio__project:nth-child(3) { grid-row-end: span 2; }
}

@media (min-width: 1212px) {
    .portfolio__thumbnail-image {
        cursor: pointer;
        transition: all 150ms ease-in-out;
    }
    
    .portfolio__thumbnail-image:hover {
        transform: scale(1.05);
    }
}

.portfolio__heading,
.portfolio__content-heading { 
    margin-block: .3em;
    font-family: var(--ff-main); 
}

.portfolio__heading { 
    font-size:
        clamp(3rem, var(--vw-lg), 4rem); 
}

.portfolio__content-heading { 
    font-size: 
        clamp(2.7rem, var(--vw-lg), 3.6rem); 
}

.portfolio__content-info {
    font-size: 
        clamp(1.5rem, var(--vw-lg), 2rem);
}

/* === FOOTER === */
.footer {
    margin-block-start: 2em;
    padding-block: 
        clamp(1rem, var(--vw-lg), 2rem);
    background-image: url('https://said-alrove.github.io/freelancer-home/assets/webp/contact.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--clr-white);
}

@media (min-width: 768px) {
    .footer__container {
        display: grid;
        grid-template-columns: repeat(2, 30%);
    }
}

.footer__heading { 
    margin-block: .4em; 
    font-family: var(--ff-main);
    font-size: 
        clamp(2.4rem, var(--vw-lg), 3.2rem);
}

.footer__list { font-family: var(--ff-normal); }

.footer__list-item { margin-block: .4em; }

.footer__list-item,
.footer__text {
    font-size: 
        clamp(1.2rem, var(--vw-lg), 1.8rem);
}